@media (max-width: 768px) {

    .start {
        font-size: 14px;
  }
  .magic-wand-1-icon{
    width: 15%;
  }
  .llc-input-field {
    padding: 10px 15px !important;
    font-size: 12px!important;
  }
  .llc-submit-btn {
    padding: 6px 15px !important;
    font-size: 12px !important;
    }
    .lbtn {
    width: 20px !important;
    height: 20px !important;
    font-size: 16px !important;
    padding-left: 0px !important;
    }
    .trustpilot-box{
    padding: 2px 7px;
    gap: 4px;
    } 
    .trustpilot-box span{
    font-size: 14px;
    } 
    .rating{
    font-size: 14px;
    }
    .trustpilot-text{
    font-size: 14px;
    }
}


@media (max-width: 575px){
    .customer-stats {
        width: 60% !important;
    }
    .get-started-parent {
        padding: 5px 2px 5px 2px;
    }

    .get-started{
        font-size: 12px !important;
        font-weight: none;
    }
    .frame-childarr{
        width: 30px !important;
        height: 30px !important;
    }
}

@media (max-width: 859px){
    .get-started-parentblu{
        right: 6% !important;
        bottom: -15px !important;
    }
    .get-starteds{
        font-size: 12px;

    }
    .frame-childarrblu{
        width: 30px !important;
        height: 30px !important;
    }
}

@media (max-width: 688px){
    .get-started-parentblu{
       width: 25% !important ;
    }
    .result-text{
        font-weight: normal;
        font-size: 20px;
    }
}

@media (max-width: 767px){
    .addplushome{
        width: 4% !important;
    }
}


@media (max-width: 992px){
    .packages{
        justify-content: center;
    }
}

@media (max-width: 528px){
    .get-started-parent{
        width: 30% !important;
        padding: 7px 0px 7px 3px;
    }
    .lbtne{
        width: 30px !important;
        height: 30px !important;
        padding: 7px;
        font-size: 12px !important;
    }
}
@media (max-width: 1500px){
    .get-started-parentblu{
        right: 14% !important;
        width: 9% !important;
        gap: 7px !important;
    }
    
}

@media (max-width: 1100px){
    .get-started-parentblu{
        right: 5% !important;
        bottom: 90px !important;
        width: 12% !important;
    }
    
}
@media (max-width: 1017px){
    .get-started-parentblu{
        bottom: 60px !important;
        width: 13% !important;
    }
    
}

@media (max-width: 961px){
    .get-started-parentblu{
        bottom: 16px !important;
        width: 15% !important;
    }
    
}

@media (max-width: 767px){
    .get-started-parentblu{
        bottom: 6px !important;
        width: 25% !important;
    }
    
}

@media (max-width: 991px){
    .result-card{
        margin-bottom: 6px !important;
        
    }
    .result-card img{
        height: 95% !important;
    }
    .packages{
        margin-top: 25px;
    }
    
}

